<!DOCTYPE html>
<html lang="en">
	{% include header %}
	<body>

		<div class="soa-ui-dc-container-top soa-ui-dc-clearthis">
			{% include logo %}
			{% include cm-topnav %}
		</div>
		<div class="soa-ui-dc-container-main soa-ui-dc-clearthis">
			{% case page.category %}
			{% when 'gs' %}
			{% include cm-gs-leftnav %}
			{% else %}
			{% include cm-ref-leftnav %}
			{% endcase %}
			<div class="soa-ui-dc-container-main-content"><!-- main content starts here -->
				<div class="documentation supportContent">
					{{ content }}
				</div>
				<!-- main content ends here -->
			</div>
			{% include footer %}
		</div>
	</body>
</html>
