<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    {% include header.html %}

    <link rel="stylesheet" media="screen" href="css/reset.css" type="text/css" />
    <link rel="stylesheet" media="screen" href="css/base.css" type="text/css" />
    <link rel="stylesheet" media="screen" href="css/document.css" type="text/css" />


  </head>
  <body>
    <div class="top">
      {% include {{page.navigation}} %}
    </div>

    <div id="content-wrapper">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    
  </body>
</html>
