<!DOCTYPE html>
<html lang="en">
	{% include header %}
	<body>

		<div class="soa-ui-dc-container-top soa-ui-dc-clearthis">
			<h1 class="soa-ui-dc-logo-container">
				<a href="{{ site.baseurl }}/" class="soa-ui-dc-logo soa-ui-dc-icon-imgtxt">SOA Software &trade;, Powering the API Economy</a><!-- logo link, replace href -->
			</h1>

			{% include cm-topnav %}

		</div>
		<div class="soa-ui-dc-container-main soa-ui-dc-clearthis">

			<ul>{% for weight in (1..site.MAXWEIGHT) %}{% for p in site.pages %}{% if p.weight == weight and p.product == 'cm' and p.category == 'gs' %}
			      <li>
			        <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
			          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
			        </a>
			      </li>{% endif %}{% endfor %}{% endfor %}{% for p in site.pages %}{% if p.weight == null and p.product == 'cm' and p.category == 'gs' %}
			      <li>
			        <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
			          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
			        </a>
			      </li>{% endif %}{% endfor %}
			</ul>

			<div class="soa-ui-dc-container-main-content"><!-- main content starts here -->
				<div class="documentation supportContent">
					{{ content }}
				</div>
				<!-- main content ends here -->
			</div>

			{% include footer %}

		</div>
	</body>
</html>
